<nav id="menu" role="navigation" class="menu">
 <div class="constrained">
                {{ knp_menu_render(menu, {'depth': 1, 'firstClass': 'firstli', 'lastClass': 'lastli'}) }}

</div>
</nav>
{% if submenu is defined %}

              <div class="constrained">
            {{ knp_menu_render(submenu, {'firstClass': 'firstli', 'lastClass': 'lastli', 'branch_class': 'nav'}) }}
</nav>
{% endif %}
