
<form action="/search" method="post" {{ form_enctype(form) }} class="well form-search">
	<!-- form errors -->
	{{ form_widget(form.term) }}
	{{ form_rest(form) }}
	<input class="btn btn-primary clear search__btn icon--search" type="submit" value="{{ 'Søk'|trans }}"/>
</form>
