{# Override this template and place javascript based statistics here (like Google Analytics) #}

{% javascripts filter='yui_js' output='js/*'
    '@tfktelemarkBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
    '@tfktelemarkBundle/Resources/public/js/main.js'
    '@tfktelemarkBundle/Resources/public/js/slider.js'
    '@tfktelemarkBundle/Resources/public/js/tabs.js'
    '@tfktelemarkBundle/Resources/public/js/popup.js'
%}
    <script type="text/javascript" src="{{ asset_url }}" async="async" defer="defer"></script>
{% endjavascripts %}
<script src="https://web2.questback.com/Scripts/questback.popup-1.0.0.js"></script>
<script>
    questback.popup.create("https://response.questback.com/telemarkfylkeskommune/egxgg65jfv", {
    	title: "",
        text: "<h1>Vil du hjelpe oss?</h1> <br /> <p>Vi skal utvikle nye nettsider og ønsker vi å finne ut litt mer om de som besøker nettsiden vår. Undersøkelsen har 4 spørsmål og tar om lag 1. minutt.</p> ",
        buttons: [
            {
               type: "participate",
               text: "Ja"
            },
            {
                type: "decline",
                text: "Nei"
            }
        ]
    });
</script>

