        <div class="content highlight--dark">

          <div class="constrained-content clearfix">

            <footer id="footer-menu" role="contentinfo" class="page-footer clearfix">
              <div class="page-footer__block-left">
                <div class="page-footer__content">
                  <ul class="side-menu">
                    <li class="side-menu__item"><a href="/">Forside</a></li>
                    <li class="side-menu__item"><a href="/Aktuelt">Aktuelt</a></li>
                    <li class="side-menu__item"><a href="/Politikk">Politikk</a></li>
                    <li class="side-menu__item"><a href="/Vaare-tjenester">Våre tjenester</a></li>
                    <li class="side-menu__item"><a href="/Planer">Planer</a></li>
                    <li class="side-menu__item"><a href="/Fylkeskommunen">Fylkeskommunen</a></li>
                    <li class="side-menu__item"><a href="/Om-Telemark">Om Telemark</a></li>
                    <li class="side-menu__item"><a href="/Personvernerklaering-www.telemark.no">Personværnerklæring</a></li>
                  </ul>
                </div>
                <div class="page-footer__content page-footer__content--last">
                  <ul class="side-menu">
                    <li class="side-menu__item"><a href="https://postlister.t-fk.no" target="_blank">Postlister</a></li>
                    <li class="side-menu__item"><a href="/Fylkeskommunen/For-pressen">Presse</a></li>
                    <li class="side-menu__item"><a href="/Fylkeskommunen/Ledige-stillinger">Ledige stillinger</a></li>
                    <li class="side-menu__item"><a href="/Vaare-tjenester/Soeknader-og-tilskudd">Søknader og tilskudd</a></li>
                    <li class="side-menu__item"><a href="/Vaare-tjenester/Kalender">Kurs og konferanser</a></li>
                    <li class="side-menu__item"><a href="http://apps.t-fk.no/api" target="_blank">Åpne data/deling/API</a></li>
                    <li class="side-menu__item"><a href="/Om-Telemark/Telemarksbarometeret">Telemarksbarometeret</a></li>
                    <li class="side-menu__item"><a href="http://193.71.49.211/fmbute" target="_blank">Kartportal</a></li>
                  </ul>
                  <ul class="side-menu">
                    <li class="side-menu__item"><a href="/Informasjon/English">Engelsk</a></li>
                  </ul>
                  <ul class="side-menu">
                    <li class="side-menu__item"><a href="https://twitter.com/telemarkfylke" target="_blank">Twitter</a></li>
                    <li class="side-menu__item"><a href="https://www.facebook.com/telemarkfylke" target="_blank">Facebook</a></li>
                    <li class="side-menu__item"><a href="https://plus.google.com/u/0/b/108353607427028279455/108353607427028279455">Google+</a></li>
                  </ul>
                </div>
              </div>
              <div class="page-footer__block-right">
                <div class="page-footer__box">
                  <div class="page-footer__content">
                    <h2 class="visuallyhidden">Kontaktinformasjon</h2>
                    <h3>Kontakt fylkeskommunen:</h3>
                    <ul>
                      <li>Telefon: 35 91 70 00</li>
                      <li>Telefaks: 35 91 70 01</li>
                      <li>E-post: <a href="mailto:post@t-fk.no">post@t-fk.no</a></li>
                    </ul>
                    <h3>Postadresse:</h3>
                    <p>Postboks 2844, 3702 Skien</p>
                    <h3>Besøksadresse:</h3>
                    <p>Fylkesbakken 10, 3715 Skien</p>
                    <h3>Kart og veibeskrivelse:</h3>
                    <p><a href="https://www.google.com/maps/preview?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fylkesbakken+10,+Skien,+Norge&amp;aq=0&amp;oq=fylkesbakken+10&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,87.978516&amp;vpsrc=6&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=Fylkesbakken+10,+3715+Skien,+Telemark,+Norway&amp;ll=59.216674,9.611161&amp;spn=0.012388,0.042958&amp;z=15&amp;iwloc=A">Se kart på Google</a></p>
                  </div>
                  <div class="page-footer__content page-footer__content--last">
                    <h3>Kontakter:</h3>
                    <ul class="side-menu">
                      <li class="side-menu__item"><a href="http://apps.t-fk.no/ansatte" target="_blank">Finn ansatte og avdelinger</a></li>
                      <li class="side-menu__item"><a href="/Fylkeskommunen/Fylkesraadmannens-ledergruppe">Fylkesrådmannens ledergruppe</a></li>
                      <li class="side-menu__item"><a href="https://politikerservice.t-fk.no" target="_blank">Politikere</a></li>
                      <li class="side-menu__item"><a href="/Politikk/Politisk-ledelse">Politisk ledelse</a></li>
                    </ul>
                    <h3>Åpningstider:</h3>
                    <table>
                      <thead class="visuallyhidden">
                        <tr>
                          <th>Dato fra til</th>
                          <th>Åpningstid</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>15. sept - 14. mai:</td>
                          <td>kl 08.00 - 15.45</td>
                        </tr>
                        <tr>
                          <td>15. mai - 14. sept:</td>
                          <td>kl 08.00 - 15.00</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3 class="visuallyhidden">Anndet:</h3>
                    <ul>
                      <li>Organisasjonsnr: 940 192 226</li>
                      <li>Kontonr: 5083 05 42083</li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>

            <div class="page-footer-nav">
              <ul class="page-footer-nav__list nav nav--small nav--short">
                <li class="nav__item"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dDFHcVlIQW43eHhjWUdXSlh2WVVlUEE6MQ" class="nav__item__link">Tilbakemeldinger</a></li>
                <li class="nav__item"><a href="/Om-www.telemark.no" class="nav__item__link">Om nettstedet</a></li>
                <li class="nav__item"><a href="mailto:eva-susanne.drugg@t-fk.no" class="nav__item__link">Kontakt webmaster</a></li>
                <li class="nav__item"><a href="/siteadmin" class="nav__item__link">Logg inn</a></li>
              </ul>
            </div>

          </div>

      </div>