<li class="search-result__item">
  <a href="/Vaare-tjenester/Folkehelse/Tilbud-HEFRES/AktivSkole36" tabindex="-1" class="search-result__item__img">
    <img src="//localhost:9000/img/content/news/Logo-Aktiv-skole-365-med-illustrasjonsfoto-3.jpg" alt="Jente i barnehagen">
  </a>
  <div class="search-result__content">
    <h2 class="search-result__item__header">
      <a href="/Vaare-tjenester/Folkehelse/Tilbud-HEFRES/AktivSkole36">AktivSkole365</a>
    </h2>
    <div class="sidenote">13. juli 2012</div>
    <div class="search-result__item__intro">Leder- og aktivitetsutdannelse for elever i barne- og ungdomskolen. Utdanner ressurselever.</div>
  </div>
</li>