<div class="content">
  <div class="content-container">
    <div class="social-block__other">
    	{{ render( controller("tfktelemarkBundle:Item:randomChild", {'locationId': content.contentInfo.mainLocationId,  'params' : { 'class' : ['did_u_know_line'] , 'viewType': 'line' }} )) }}
    </div>
  </div>
</div>