{% if not ez_is_field_empty( content, 'show_gallery_name' ) %}
  <h2>{{ ez_render_field( content, 'name' ) }}</h2>
{% endif %}

{% if not ez_is_field_empty( content, 'description' ) %}
  {{ ez_render_field( content, 'description' ) }}
{% endif %}


<ul class="grid grid--6 grid--images">
  {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': content.contentInfo.mainLocationId,  'params' : { 'class' : ['image_gallery_slide'] , 'viewType': 'line' }} )) }}
</ul>