{% if not ez_is_field_empty( content, 'show_gallery_name' ) %}
  <h2>{{ ez_render_field( content, 'name' ) }}</h2>
{% endif %}

{% if not ez_is_field_empty( content, 'description' ) %}
  {{ ez_render_field( content, 'description' ) }}
{% endif %}

<ul class="grid grid--6 grid--images">
	<li class="grid__item grid__item--2-6 item"><a href="//localhost:9000/img/content/news/Grottevatn-dam-kampanje-12.jpg" data-title="Grottevatn dam" data-caption="Grottevatn dam er reguleringsmagasin til kraftverket Mår. Dette ble påbegynt i regi av tyskerne i 1941, men sto ikke ferdig før i 1948." data-credit="Jack Hagen, Øst-Telemarken Brukseierforening" class="js-popup--gallery"><img src="//localhost:9000/img/content/news/Grottevatn-dam-kampanje-2-square.jpg" alt="Grottevatn dam"></a></li>
	<li class="grid__item grid__item--2-6 item"><a href="//localhost:9000/img/content/news/Kongens-dam-kampanje-12.jpg" data-title="Kongens dam" data-caption="Kongens dam i Herreelva stod ferdig i 1903. Navnet ”Kongens Dam” sies å komme av at området etter reformasjonen ble overført fra Gimsøy Kloster til kongen. I elva har det vært kverner og sagbruk drevet med vannhjul helt siden 1500-tallet." data-credit="Ingrid Strande, Telemark fylkeskommune" class="js-popup--gallery"><img src="//localhost:9000/img/content/news/Kongens-dam-kampanje-2-square.jpg" alt="Kongens dam"></a></li>
	<li class="grid__item grid__item--2-6 item grid__item--last"><a href="//localhost:9000/img/content/news/Dalsfos-dam-kampanje-12.jpg" data-title="Dalsfos dam" data-caption="Dalsfosdammen inngår i Dalsfos kraftverk fra 1907. Opprinnelig var det anlagt en tømmerrenne ved siden av inntaket." data-credit="Helena Nynäs, NVE" class="js-popup--gallery"><img src="//localhost:9000/img/content/news/Dalsfos-dam-kampanje-2-square.jpg" alt="Dalsfos dam"></a></li>
	<li class="grid__item grid__item--2-6 item grid__item--first"><a href="//localhost:9000/img/content/news/Moesvatn-dam-kampanje-12.jpg" data-title="Møsvatn dam" data-caption="Møsvatn dam sto ferdig i 1906 og var viktig som del av Vemork kraftverk fra 1911, Såheim kraftverk fra 1916 og Frøystul kraftverk fra 1926. Dammen demmer opp Møsvatn, Telemarks største innsjø." data-credit="Jack Hagen, Øst-Telemarken Brukseierforening" class="js-popup--gallery"><img src="//localhost:9000/img/content/news/Moesvatn-dam-kampanje-2-square.jpg" alt="Møsvatn dam"></a></li>
	<li class="grid__item grid__item--2-6 item"><a href="//localhost:9000/img/content/news/Gorningen-dam-kampanje-12.jpg" data-title="Gorningen dam" data-caption="Opprinnelig var Gorningen dam sannsynligvis en tømmerkistedam brukt til fløting. I dag er den reguleringsdam for kraftproduksjon. Det finnes fremdeles spor etter tømmerfløtingsperioden i dammens nærområde." data-credit="Helena Nynäs, NVE" class="js-popup--gallery"><img src="//localhost:9000/img/content/news/Gorningen-dam-kampanje-2-square.jpg" alt="Gorningen dam"></a></li>
</ul>