<div class="slider">
  <ul class="slider__slides">
    {{ render( controller("tfktelemarkBundle:Item:children", {'locationId': content.contentInfo.mainLocationId,  'params' : { 'class' : ['slide'] , 'viewType': 'line' }} )) }}
  </ul>
</div>