<div class="content">
  <div class="constrained-content">
    <div class="tabs js-tabs">
      <ul class="tabs__content">
        {{ render( controller("tfktelemarkBundle:Item:children", {'locationId': content.contentInfo.mainLocationId,  'params' : { 'class' : ['tabboks_tab'] , 'viewType': 'line' }} )) }}
      </ul>
    </div>
  </div>
</div>