<div class="content">
  <div class="constrained-content">
    <div class="tabs js-tabs">
      <ul class="tabs__content">

      	{{ render_esi( controller("tfktelemarkBundle:Item:folder", {'locationId': content.contentInfo.mainLocationId})) }}

      </ul>
    </div>
  </div>
</div>