<div class="slider">
  <ul class="slider__slides">
        {% for item in items %}
            {{
                render_esi(
                    controller(
                        "ez_content:viewLocation",
                                {
                                    "locationId": item.contentInfo.mainLocationId,
                                    "viewType": "line"
                                }
                    )
                )
            }}
        {% endfor %}
  </ul>
</div>