{% extends "tfktelemarkBundle::pagelayout.html.twig" %}

{% block content %}
<div class="container">

            <div class="folder-title">
                {{ ez_render_field(content, 'name') }}
            </div>
            <div class="folder-intro">
                {{ ez_render_field(content, 'short_description') }}
            </div>


{% if content.fields.show_children["nor-NO"].bool == true %}
	{% include 'tfktelemarkBundle:parts:folder_loop.html.twig' %}
            {#{ render( controller("tfktelemarkBundle:Item:folder", {'locationId': content.contentInfo.mainLocationId})) }#}
{% endif %}
</div>
    </section>
{% endblock %}

