{% extends noLayout ? viewbaseLayout : "tfktelemarkBundle::pagelayout.html.twig" %}

{% block content %}

{% if not ez_is_field_empty( content, 'alert_large' ) %}
  <div class="constrained-content">   
    <div style="margin-top: 15px; color: black; padding: 10px; border: 2px solid red; font-weight: normal; font-size: 24px; line-height: 2">
      {{ ez_render_field( content, 'alert_large' ) }}
    </div>
  </div>
{% else %}
  {{ render(
    controller( 
      "ez_content:viewContent", 
        {
          "contentId": 499,
          "viewType": "line",
          "params": { }
        }
    )
  ) }}
{% endif %}

  <div class="constrained-content">
    <div class="social-block quote">
      <div class="social-block__social-links">
        <ul class="social-links">
          <li><a href="https://www.facebook.com/telemarkfylke" class="social-links__link"><span title="Facebook" class="social-links__link__icon icon--facebook"></span><span class="visuallyhidden">Facebook</span></a></li>
          <li><a href="/rss/feed/aktuelt" class="social-links__link"><span title="RSS-feed" class="social-links__link__icon icon--rss"></span><span class="visuallyhidden">RSS-feed</span></a></li>
        </ul>
      </div>
      {{ render(
          controller( 
            "ez_content:viewContent", 
              {
                "contentId": 6831,
                "viewType": "line",
                "params": { }
              }
            )
          ) }}
    </div>
  </div>

  {{ render(
    controller( 
      "ez_content:viewContent", 
        {
          "contentId": 3843,
          "viewType": "line",
          "params": { 
            "tabboks_size":"large"
          }
        }
    )
  ) }}

{% endblock %}