{% extends "tfktelemarkBundle::pagelayout.html.twig" %}

{% block content %}
   <div class="content">
    <div class="constrained-content">
	 <main id="main" role="main" tabindex="-1" class="main">

		
<div class="class-search content-view-full constrained">

  <div class="fancy-header">
    <div class="block-title"><h2>{{ count }} resultater for "{{string}}"</h2></div>
  </div>

  <ul class="search-result">
    {% if result %}

      {% for item in result %}
         {{ render( controller( 'ez_content:viewLocation', {'locationId': item.NodeID, 'viewType': 'ezfind_line', 'params': { 'type': 'ezfind_line' }} ) ) }}
      {% endfor %}

    {% endif %}
  </ul>

	  </main>
    </div>
  </div> 
{% endblock %}


