{% extends noLayout ? viewbaseLayout : "tfktelemarkBundle::pagelayout.html.twig" %}

{% block content %}
<div class="content-view-full">
    <div class="class-landing-page">

        <div class="attribute-page">
Her henter vi forsiden!
        </div>

    </div>
</div>
{% endblock %}