@import "susy";

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}

/*
 * Grid settings with SUSY
 * http://susydocs.oddbird.net/en/latest/
 */

$susy: (
  flow: ltr,                        // rtl | ltr
  math: fluid,                      // fluid | static
  output: float,
  gutter-position: split,           // float | isolate
  container: auto,                  // <length> | auto
  container-position: center,       // left | center | right | <length> [*2]
  columns: 4,                      // <number> | <list>
  gutters: .25,                     // <ratio>
  column-width: false,              // <length> | false/null
  global-box-sizing: content-box,   // before | after | split | inside | inside-static
  last-flow: to,                    // from | to
  debug: (
    image: hide,                    // show | hide | show-columns | show-baseline
    color: rgba(#66f, .25),         // <color>
    output: background,             // background | overlay
    toggle: top right,              // right | left and top | bottom
  ),
  use-custom: (
    background-image: true,         // <boolean>
    background-options: false,      // <boolean>
    box-sizing: false,              // <boolean>
    clearfix: true,                 // <boolean>
    rem: true,                      // <boolean>
  )
);

$susy-large: (
  columns: 12,
  gutters: .5
);


// Add the colors you need

$white:             #f9f9f9;
$blue:              #0000ff;
$black:             #242424;
$gray:              #939393;
$gray-btn-border:   lighten($gray, 10%);
$light-gray:        #eee;
$light-gray-border: lighten($gray, 30%);
$dark-gray:         #575757;
$red:               #b30000;
$orange:            #ECD078;
$green:             #c4d600;

$gray-link:         #575757;

$brandcolor:        $green;

// create $breakpoint variables like so
// assume min-width (by default) if only a number
$small:         480px;
$medium:        500px;
$mediumlarge:   680px;
$large:         800px;

$breakpoint-medium: $medium;
$breakpoint-large: $large;

@import "search-field";
@import "search-result";
@import "sidebars";
@import "sidebar--list-searchresult";
@import "grids";
@import "fonts";

// Shame
*,
* > *,
*:before, 
*:after {
  box-sizing: border-box;
}

.figure {
    margin: 0;
}