<div class="content-list">
    {% for item in items %}
        {{
            render_esi(
                controller(
                    "ez_content:viewLocation",
                            {
                                "locationId": item.contentInfo.mainLocationId,
                                "viewType": "line"
                            }
                )
            )
        }}
    {% endfor %}
</div>