<div class="content-list">
    {% for item in items %}
        {{
            render_esi(
                controller(
                    "ez_content:viewLocation",
                            {
                                "locationId": item.contentInfo.mainLocationId,
                                "viewType": "line"
                            }
                )
            )
        }}
    {% endfor %}

    {% if items|length() > 0 %}
        {% for item in item %}
            {{
                render_esi(
                    controller(
                        "ez_content:viewLocation",
                                {
                                    "locationId": item.contentInfo.mainLocationId,
                                    "viewType": "line"
                                }
                    )
                )
            }}
        {% endfor %}
     {% endif %}
</div>