<div id="tfk-recruitments"></div>

{% javascripts
    '@tfktelemarkBundle/Resources/public/js/tfk-recruitments-react.js'
%}
    <script type="text/javascript" src="{{ asset_url }}" async="async" defer="defer"></script>
{% endjavascripts %}