.icon--expand-32-light,
.top-image__expand-link { background-image: url(png/expand-32-light.png); background-repeat: no-repeat; }

.icon--expand-32-light,
.top-image__expand-link { background-image: url(png/expand-32-light.png); background-repeat: no-repeat; }

.icon--facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon--facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon--google { background-image: url(png/google.png); background-repeat: no-repeat; }

.icon--google { background-image: url(png/google.png); background-repeat: no-repeat; }

.icon--mailto { background-image: url(png/mailto.png); background-repeat: no-repeat; }

.icon--mailto { background-image: url(png/mailto.png); background-repeat: no-repeat; }

.icon--menu-arrow-down-white,
.menu__item-link--active + .icon--menu-arrow-down { background-image: url(png/menu-arrow-down-white.png); background-repeat: no-repeat; }

.icon--menu-arrow-down-white,
.menu__item-link--active + .icon--menu-arrow-down { background-image: url(png/menu-arrow-down-white.png); background-repeat: no-repeat; }

.icon--menu-arrow-down { background-image: url(png/menu-arrow-down.png); background-repeat: no-repeat; }

.icon--menu-arrow-down { background-image: url(png/menu-arrow-down.png); background-repeat: no-repeat; }

.icon--menu-arrow-left,
.slider__prev,.pagination__prev { background-image: url(png/menu-arrow-left.png); background-repeat: no-repeat; }

.icon--menu-arrow-left,
.slider__prev,.pagination__prev { background-image: url(png/menu-arrow-left.png); background-repeat: no-repeat; }

.icon--menu-arrow-right-white,
.highlight--dark .slider__next,.highlight--dark .pagination__next,.highlight--dark .see-more,.highlight--dark .side-menu__item a:after { background-image: url(png/menu-arrow-right-white.png); background-repeat: no-repeat; }

.icon--menu-arrow-right-white,
.highlight--dark .slider__next,.highlight--dark .pagination__next,.highlight--dark .see-more,.highlight--dark .side-menu__item a:after { background-image: url(png/menu-arrow-right-white.png); background-repeat: no-repeat; }

.icon--menu-arrow-right,
.slider__next,.pagination__next,.see-more,.side-menu__item a:after { background-image: url(png/menu-arrow-right.png); background-repeat: no-repeat; }

.icon--menu-arrow-right,
.slider__next,.pagination__next,.see-more,.side-menu__item a:after { background-image: url(png/menu-arrow-right.png); background-repeat: no-repeat; }

.icon--menu-mobile { background-image: url(png/menu-mobile.png); background-repeat: no-repeat; }

.icon--menu-mobile { background-image: url(png/menu-mobile.png); background-repeat: no-repeat; }

.icon--person { background-image: url(png/person.png); background-repeat: no-repeat; }

.icon--person { background-image: url(png/person.png); background-repeat: no-repeat; }

.icon--rss { background-image: url(png/rss.png); background-repeat: no-repeat; }

.icon--rss { background-image: url(png/rss.png); background-repeat: no-repeat; }

.icon--search { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon--search { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon--twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }

.icon--twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }